@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/*to decorate the swiper pagination element*/
.swiper {
  --swiper-pagination-color: #733a3d;
  --swiper-pagination-bullet-inactive-color: #635147;
  --swiper-pagination-bullet-inactive-opacity: 0.4;
}
.dark .swiper {
  --swiper-pagination-color: #fff1dc;
  --swiper-pagination-bullet-inactive-color: #d2b48c;
}


@keyframes shuffle {
  0% { transform: translateY(0); }
  25% { transform: translateY(-12px); }
  50% { transform: translateY(4px); }
  75% { transform: translateY(-6px); }
  100% { transform: translateY(0); }
}

.shuffle-box {
  width: 1.25rem; /* 20px */
  height: 1.25rem;
  animation: shuffle 1.2s ease-in-out infinite;
}

.shuffle-box:nth-child(1) {
  animation-delay: 0s;
}

.shuffle-box:nth-child(2) {
  animation-delay: 0.15s;
}

.shuffle-box:nth-child(3) {
  animation-delay: 0.3s;
}